body {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: content-box;
    background: #fff2df;
}

/* Primera Zona */

.header {
    height: 440px;
    width: 100%;
    padding-bottom: 0px;
    padding-top: 15px;
    background-image: url("../img/imgheadertop.png");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.header h1 {
    color: #1f1b15;
    font-size: 70px;
    text-align: center;
    padding: 0px 0px 0px 100px;
}

.header h2 {
    color: #001a2e;
    font-size: 25px;
    text-align: center;
    padding: 0px 0px 0px 150px;
}

/* Segunda Zona */

.band {
    width: 100%;
    height: 80px;
    line-height: 80px;
    border-top: solid #ffae00;
    border-bottom: solid#ffae00;
    margin: 0px 0px 30px;
    background-color: #870009;
    color: #ffb88c;
    text-align: center;
    font-size: 30px;
    font-weight: 900;
}

/*  Animación para mostrar Precios de Productos  */

.titulo+.valor {
    background-color: #e3c2a8;
    border-radius: 10%;
    width: min-content;
    height: min-content;
    opacity: 0;
    transition: 0.5s;
}

.titulo:hover+.valor {

    opacity: 1;
    width: max-content;
    height: max-content;
}

.products {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 550;
    width: 70%;
    margin: auto;

}

.products h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 40px;
    color: #1f1b15;

}

.products p {
    font-size: 20px;
}

.products tr img {
    background-color: #72f6ff;
    border: solid 18px #ffae00;
    width: 450px;
    height: 450px;
    padding: 20px;
    margin: 20px;
    border-radius: 90px;
}

/* Botones Comprar con Animación de Color */

.btn-comprar {
    display: inline-block;
    border: solid 5px #a3696d;
    background-color: #f88c00;
    border-radius: 30px;
    position: relative;
    padding: 15px 30px;
    color: #0c3e01;
    letter-spacing: 4px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-size: 22px;
    text-decoration: none;
    overflow: hidden;
    transition: 1s;
}

.btn-comprar:hover {
    background: #72f6ff;

}

/* Tercera Zona */

.products tr p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 24px;
    color: #1f1b15;
}

.contacto {

    background-color: #870009;
    border: solid 8px #f88c00;
    border-radius: 50px;
    color: #f4efe5;
    font-size: 20px;
    text-align: center;
    width: 180px;
    padding: 3px;
    margin: auto;
    justify-content: center;
}